.sidebar{
  overflow-y: scroll;
  li{
    // height: 100%;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 4px;
    &:first-child{
      margin-top: 5px;
    }
    &:hover{
      background: #26282c;
    }
  }
}