@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression}); 
}
@mixin top($property, $expression) { 
  #{$property}: calc(#{$expression}); 
}
@mixin left($property, $expression) { 
  #{$property}: calc(#{$expression}); 
}
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}

.desktop_container{
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  padding: 26px 68px;
  max-height: 100vh;
  .desktop_apps{
    display: inline-flex;
    flex-direction: column;
    & > div{
      padding: 1rem 2rem;
      border-radius: 5px;
      cursor: context-menu;
      &:hover{
        background-color: #616773;
      }
    }
    & > div > img{
      display: inline;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
.max{
  @include calc(height, "100% - 25px");
  @include calc(width, "100% - 66px");
}
.min{
  @include calc(height, "60% - 25px");
  @include calc(width, "50% - 66px");
  @media (max-width: 800px){
    @include calc(height, "100% - 25px");
    @include calc(width, "100% - 66px");
  }
  @media (max-width: 1280px) and (min-width: 800px){
    @include calc(width, "70% - 66px");
  }
}
.folderCardContainer{
  position: absolute;
  @include left(left, "50% + 66px");
  @include top(top, "50% + 25px");
  @include translate(calc(-50% - 33px), calc(-50% - 12.5px));
  background-color: #181b28;
  border-radius: 3px;
  z-index: 1;
  .folderNavbar{
    position: absolute;
    top: 0;
    height: 36px;
    width: 100%;
    background-color: #0c0e14;
    z-index: 5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    &__left > button {
      color: #fff;
      border-radius: 30px;
      border: 0;
      outline: none;
      border-color: #3d0d47;
      box-shadow: 0 0 15px #8700f5;
      background: linear-gradient(#c00dd4, #8700f5);
      font-size: 0.8rem;
      padding: 0.2rem 0.4rem;
      margin-left: 0.8rem;
      &>span{
        margin: 0 0.4rem
      }
    }
  }
  .folderSideBar1{
    position: absolute;
    left: 0;
    width: 6%;
    height: 100%;
    background-color: #171e27;
    z-index: 2;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #fff;
    padding-top: 35px;
    @media (max-width: 800px){
      width: 8%;
    }
  }
  .folderSideBar2{
    position: absolute;
    left: 6%;
    transform: translateX(-3%);
    width: 18%;
    height: 100%;
    background-color: #161925;
    z-index: 2;
    color: #fff;
    padding-top: 35px;
    @media (max-width: 800px){
      width: 20%;
      left: 8%;
      transform: translateX(-4%);
    }
  }
}
// #c00dd4
// #8700f5